@charset "UTF-8";
a {
  text-decoration: none;
}

html {
  width: 100%;
  max-width: 3280px;
}
html body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "roboto";
  margin: 0;
}

/* Définition de l'animation fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Le titre commence en bas, puis remonte */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Il arrive à sa position d'origine */
  }
}
/* Appliquer l'animation de fade-in à tous les titres de plateaux */
.plateBlock {
  opacity: 0; /* Les titres sont invisibles au départ */
  animation: fadeIn 1s ease-out forwards; /* Animation fadeIn */
  /* Délai d'animation basé sur l'index de chaque plateau */
}
.plateBlock:nth-of-type(1) {
  animation-delay: 0.8s; /* Entrées apparaît d'abord */
}
.plateBlock:nth-of-type(2) {
  animation-delay: 0s; /* Plats apparaît après 0.5 seconde */
}
.plateBlock:nth-of-type(3) {
  animation-delay: 0.4s; /* Desserts apparaît après 1 seconde */
}

/*********HEADER************/
header {
  width: 100%;
}
header .logoBlock {
  position: relative;
  background-color: white;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
header .logoBlock .fa-arrow-left {
  font-size: 1.4em;
  position: absolute;
  left: 30px;
  top: 25px;
  cursor: pointer;
  color: black;
}
header .logoBlock img {
  width: 180px;
  height: auto;
  padding-top: 15px;
}
header .photoRestaurant {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

main {
  width: 80%;
}
main .restaurantBlock {
  background-color: #F2F2F2;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}
main .restaurantBlock .restaurantBlock__title {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
main .restaurantBlock .restaurantBlock__title h1 {
  font-family: "Shrikhand";
  font-size: 1.8em;
}
main .restaurantBlock .restaurantBlock__title .fa-heart {
  font-size: 1.5em;
  padding: 28px 35px 0 0;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
main .restaurantBlock .restaurantBlock__title .fa-heart::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 28px;
  left: 0px;
  width: 0;
  color: transparent;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
}
main .restaurantBlock .restaurantBlock__title .fa-heart:hover {
  transform: scale(1);
}
main .restaurantBlock .restaurantBlock__title .fa-heart:hover::after {
  width: 100%;
  opacity: 1;
}
main .restaurantBlock .plateBlock {
  margin-bottom: 20px;
}
main .restaurantBlock .plateBlock .plateBlock__title {
  padding-left: 30px;
  font-size: 1.2em;
}
main .restaurantBlock .plateBlock .plateBlock__title .border {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 50px;
}
main .restaurantBlock .plateBlock .plateBlock__proposals {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 85%;
  border-radius: 15px;
  filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.2));
  height: 80px;
  cursor: pointer;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishblock_withoutAnimation {
  width: 100%;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishblock_withoutAnimation .dishBlock__title {
  font-weight: 500;
  font-size: 1.1em;
  padding: 15px 0 10px 15px;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishblock_withoutAnimation .dishBlock__content {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 15px;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishblock_withoutAnimation .dishBlock__content .dishBlock__precisions {
  font-weight: 300;
  font-size: 0.9em;
  padding-right: 5px;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishblock_withoutAnimation .dishBlock__content .dishBlock__price {
  font-weight: 500;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishBlock__Animation {
  display: flex;
  width: 0%;
  background-color: #99E2D0;
  margin-right: 0;
  padding-right: 0;
  border-radius: 0 15px 15px 0;
  transition: width 1s ease;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishBlock__Animation .fa-circle-check {
  display: inline;
  color: white;
  opacity: 0;
  transition: opacity 1s ease;
  overflow: hidden;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock:hover .dishBlock__Animation {
  width: 12%;
}
main .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock:hover .dishBlock__Animation .fa-circle-check {
  opacity: 1;
}
main .order-button-purple {
  width: 55%;
  max-width: 250px;
  margin: 30px auto;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0 darkgrey;
  padding: 20px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  color: white;
  transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
main .order-button-purple:hover {
  filter: brightness(1.1);
  box-shadow: 0.5px 0.5px 5px 0 black;
}
main .order-button-purple .search {
  font-weight: 700;
  font-size: 1.2em;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #444140;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.logo-footer {
  width: 200px;
  filter: invert(1);
  padding: 20px 0 20px 20px;
}

.p__footer--bold {
  font-weight: bold;
  margin: 15px 0 0 0;
}

.p__footer {
  text-align: left;
  padding-left: 20px;
  color: white;
  margin: 15px 0 0 0;
}

/*****************MEDIA QUERIES**********************/
@media screen and (min-width: 768px) {
  html {
    max-width: 100%;
    margin: 0 auto;
  }
  body {
    width: 100%;
    margin: 0 auto;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }
  main {
    width: 3280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .logoBlock {
    width: 3280px;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .logoBlock img {
    text-align: center;
  }
  .photoRestaurant {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 57%;
    display: block;
  }
  .restaurantBlock {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -30px auto 0 auto;
    padding-bottom: 30px;
  }
  .restaurantBlock .restaurantBlock__title {
    justify-content: center;
    gap: 30px;
  }
  .restaurantBlock .plateBlock {
    min-width: 90%;
  }
  .restaurantBlock .plateBlock .plateBlock__title {
    margin-left: 25px;
  }
  .restaurantBlock .plateBlock .plateBlock__proposals {
    min-width: auto;
  }
  .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock {
    height: 70px;
    min-width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    position: relative;
  }
  .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishblock_withoutAnimation {
    width: 100%;
  }
  .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishBlock__Animation {
    display: flex;
    width: 0%;
    background-color: #99E2D0;
    margin-right: 0;
    padding-right: 0;
    border-radius: 0 15px 15px 0;
    transition: width 1s ease;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock .dishBlock__Animation .fa-circle-check {
    display: inline;
    color: white;
    opacity: 0;
    transition: opacity 1s ease;
    overflow: hidden;
  }
  .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock:hover .dishBlock__Animation {
    width: 12%;
  }
  .restaurantBlock .plateBlock .plateBlock__proposals .dishBlock:hover .dishBlock__Animation .fa-circle-check {
    opacity: 1;
  }
  .order-button-purple {
    width: 20%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 45px;
  }
  footer .footerContent {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
  }
  footer .logo-footer {
    width: 140px;
    padding-right: 30px;
    padding-top: 80px;
  }
}
@media screen and (min-width: 1500px) {
  html {
    width: 1500px;
    margin: 0 auto;
  }
}